* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 21px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


ul>li:last-child {
  float: right;
}

.logo {
  margin-top: 4px;
  border-radius: 50%;
  width: 100px;
  height: 60px;

}

#search-name {
  border-radius: 10px;
  padding: 12px 69px;
  margin: 10px 0;
}

h2 {
  color: antiquewhite;
  font-size: 20px;
  margin: 20px 5px;
}

.switch-mode {
  padding: 8px;
  margin: 12px 84px;
}

.dark-mode-navbar{
  background-color: antiquewhite;
  a,li,h2,ul{
    color: #111;
  }
    li a:hover {
      background-color: white;
    }
}
